# Add all the dataframe to database

## Setup

In [2]:
from dotenv import load_dotenv
load_dotenv('../.env') 

import os
import sys
import glob
from pathlib import Path
import pandas as pd
import numpy as np
sys.path.append('')

## 
import openai
# from openai.embeddings_utils import get_embedding

##### Directories

In [3]:
data_directory = Path(os.environ.get('DATA_DIRECTORY', './'))
ner_data_directory = data_directory/'named_entities'

## The `DATA_DIRECTORY` above points to the `data` directory in the folloing repo
## Data repo https://github.com/rahulnyk/mahabharata

In [4]:
import openai
text_embedding_model = "text-embedding-ada-002"

##### Langchain Imports

In [5]:
import langchain
## For generating and persisting Embeddings
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores.pgvector import PGVector

embeddings = OpenAIEmbeddings(model=text_embedding_model)

##### Sqlalchemy

In [23]:
use_localdb = True

from sqlalchemy import create_engine
SUPABASE_PASSWORD = os.environ['SUPABASE_PASSWORD']
SUPABASE_DBUSER = os.environ['SUPABASE_DBUSER']
SUPABASE_DATABASE = os.environ['SUPABASE_DATABASE']

PGVECTOR_USER = os.environ['PGVECTOR_USER']
PGVECTOR_PASSWORD = os.environ['PGVECTOR_PASSWORD']
PGVECTOR_DATABASE = os.environ['PGVECTOR_DATABASE']

localdb_string = f"postgresql://{PGVECTOR_USER}:{PGVECTOR_PASSWORD}@localhost:5432/{PGVECTOR_DATABASE}"
supabasedb_string = f"postgresql://{SUPABASE_DBUSER}:{SUPABASE_PASSWORD}@db.doxggeyqopdnxfhseufq.supabase.co:5432/{SUPABASE_DATABASE}"

connection_string = localdb_string if use_localdb else supabasedb_string

engine = create_engine(connection_string)

In [24]:

def df2db(dataframe, table_name, connection, if_exist = 'fail', chunksize = 4999):
    """
        dataframe, table_name, connection, if_exist: default fail, chunksize: default 4999
        chunksize - 4999, The max seems to be 5K rows at a time. 
        if_exist - 'fail', 'replace' or 'append'
    """
    try:
        result = dataframe.to_sql(table_name, con=connection, if_exists = if_exist, chunksize=chunksize)
        print(result)
        return result
    except Exception as E:
        print(E, '- Request failed.')
        return False

## Character Glossary to db

In [25]:
df = pd.read_csv(data_directory/"tiny_tales_glossary.csv", sep="|")
df2db(df, table_name = 'character_glossary', connection=engine)

Table 'character_glossary' already exists. - Request failed.

False

## Add named entities to the db

In [26]:
ne_table_name = 'named_entities'

In [27]:
file_list = glob.glob(f"{ner_data_directory}/*_named_entities.csv")

dataframes = []
for file in file_list:
    df = pd.read_csv(file, sep="|")
    dataframes = dataframes + [df]

dfne = pd.concat(dataframes)
dfne.head()
print("Dataframe size", dfne.shape)

Dataframe size (133328, 5)

In [28]:
## Set if_exist to 'replace' for regenerating the database. 
result = df2db(
    dfne, 
    table_name = ne_table_name, 
    connection=engine, 
    if_exist = 'fail')

Table 'named_entities' already exists. - Request failed.

### Testing the db

In [29]:
query = f"""
select * from {ne_table_name} 
    where entity = 'PER' and 
    name = 'Abhimanyu'
"""
res = pd.read_sql(query, index_col='index', con = engine)

In [30]:
res.head()

,name,entity,chunk_id,count,file
index,,,,,
54,Abhimanyu,PER,cid_0ca1dc3d022343e3a2a5000a6db6ce99,1,km_ganguli_translation_5.csv
55,Abhimanyu,PER,cid_1d238a4680a64ecc93c4318fbeb68f4b,2,km_ganguli_translation_5.csv
56,Abhimanyu,PER,cid_248a6987461544718997d855ffcddd17,1,km_ganguli_translation_5.csv
57,Abhimanyu,PER,cid_45c0fba1423a4e55a6569dd164d9a824,1,km_ganguli_translation_5.csv
58,Abhimanyu,PER,cid_5087512a7e064ebc8d5ef799d724f0cb,1,km_ganguli_translation_5.csv

## Calculate Embeddings

### Testing

In [31]:
## Manually calculate embeddings. just for texting. 
## Ultimately I think it is wise to use the langchain vectorstore. 

# def get_embedding(text, model="text-embedding-ada-002"):
#    text = text.replace("\n", " ")
#    return openai.Embedding.create(input = [text], model=model)['data'][0]['embedding']

### Load Data

#### Tiny Tales Data

In [32]:

df_tinytales = pd.read_csv(f"{data_directory}/tiny_tales_summaries.csv", sep="|")

#### Kaggle Tilak Data

In [33]:
## Kaggle Tilak dataframe

df_kaggletilak = pd.read_csv(f"{data_directory}/kaggle_tilak_summaries.csv", sep="|")
df_kaggletilak = df_kaggletilak.replace(np.nan, '')

#### Load KM Ganguli Books Data

kmgt = KM Ganguli translations

In [34]:
file_list = glob.glob(f"{data_directory}/km_ganguli_*.csv")

dataframes = []
for file in file_list:
    # print("File: ", file)
    df = pd.read_csv(file, sep="|")
    dataframes = dataframes + [df]

kmgt_dataframe = pd.concat(dataframes)
kmgt_dataframe = kmgt_dataframe.replace(np.nan, '')
kmgt_dataframe.head()
print("Dataframe size", kmgt_dataframe.shape)
kmgt_dataframe.head()

Dataframe size (9731, 8)

,book_number,section,section_name,text,para_number,book_name,num_tokens,chunk_id
0,6,,,The Mahabharata\n\nof\n\nKrishna-Dwaipayana Vy...,1,Bhishma Parva,93,cid_59ceb7c3048f430a9d486b11745d2cf7
1,6,SECTION I,Jamvu-khanda Nirmana Parva,"\n\nOM! HAVING BOWED down to Narayana, and Nar...",1,Bhishma Parva,512,cid_275ad5c5673d44069c4b5be7494d418d
2,6,SECTION I,Jamvu-khanda Nirmana Parva,"\n""Beholding the standard-top of Pritha's son,...",2,Bhishma Parva,516,cid_b2f2fb019a3041f68a555203f1179686
3,6,SECTION I,Jamvu-khanda Nirmana Parva,Those that left the ranks should never be slai...,3,Bhishma Parva,264,cid_56b6bcf84cbe4d81bd8cf6be496bd78d
4,6,SECTION II,,"\nVaisampayana said,--""Seeing then the two arm...",1,Bhishma Parva,512,cid_24c46d25fe724028b0ec5b943e1cb0ec

#### Combined text Data

In [35]:
## This is the combined  dataframe. but can be useful later. 

# file_list = glob.glob(f"{data_directory}/*_summaries.csv")

# dataframes = []
# for file in file_list:
#     print("File: ", file)
#     # df = pd.read_csv(file, sep="|")
#     # dataframes = dataframes + [df]

dataframes = [kmgt_dataframe, df_kaggletilak, df_tinytales]

combined_dataframe = pd.concat(dataframes)
combined_dataframe = combined_dataframe.replace(np.nan, '')
combined_dataframe.head()
print("Dataframe size", combined_dataframe.shape)

Dataframe size (12307, 14)

### Save to Vectorstore

Defining a new function to save dataframe to vector store. 
The reason I am not using the default langchain `add_document` function is because it does not accept custom_ids

In [36]:
def addDataframeToVectorStore(dataframe, vector_store, text_col = 'text', id_col = 'chunk_id'):
    metadatas = dataframe.drop([text_col], axis=1).to_dict('records')

    result = vector_store.add_texts(
        texts = dataframe[text_col], 
        ids=dataframe[id_col], 
        metadatas=metadatas,)

    return result

In [ ]:
## Assert these flags if you want to recreate the tables
recreate_tt_collection = False
recreate_kt_collection = False
recreate_kmgt_collection = False
recreate_combined_collection = False

if recreate_tt_collection:
    tinytales_store = PGVector(
        collection_name="tinytales",
        connection_string=connection_string,
        embedding_function=embeddings,)
    
    addDataframeToVectorStore(df_tinytales, tinytales_store)

if recreate_kt_collection:
    kt_summary_store = PGVector(
        collection_name="kt_summary",
        connection_string=connection_string,
        embedding_function=embeddings,)
    
    addDataframeToVectorStore(df_kaggletilak, kt_summary_store)

if recreate_kmgt_collection:
    kmgt_books_store = PGVector(
        collection_name='kmgt_books',
        connection_string=connection_string,
        embedding_function=embeddings,)
    
    addDataframeToVectorStore(kmgt_dataframe, kmgt_books_store)

if recreate_combined_collection:
    combined_store = PGVector(
        collection_name='mahabharat_combined_text',
        connection_string=connection_string,
        embedding_function=embeddings,)
    
    addDataframeToVectorStore(combined_dataframe, combined_store)

## Done

<div class="alert alert-success"><b>Success! </b> 
    All the documents are saved in the vector store</div>
</div>